.page-text{
    font-size: 1.0rem;
    line-height: 180%;
}
.page-h1{
    font-size: 1.6rem;
    font-weight: bold;
}
.page-h2{
    font-size: 1.4rem;
    font-weight: bold;
}
.page-h3{
    font-size: 1.2rem;
    font-weight: bold;
}
.page-h4{
    font-size: 1.0rem;
    font-weight: bold;
}
.page-h5{
    font-size: 0.9rem;
    font-weight: bold;
}
.page-list{

}
.page-order-list{

}
.page-markdown{

}
.page-datetime{

}
.page-users{

}
.page-table{

}
.page-map{

}
