name: Publish to Maven Central

on:
  push:
    tags:
      - 'v*.*.*' # Trigger on tags like v1.0.0, v1.2.3, etc.
  # Allows manual triggering from the GitHub Actions UI
  workflow_dispatch:
    inputs:
      tag:
        description: 'Specify an optional tag/version for manual deployment (e.g., 1.2.3)'
        required: false
        default: 'manual-run'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          cache: 'maven'
      - name: compile and build
        run: mvn clean compile gwt:compile package install
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Cangling Repo
        uses: docker/login-action@v1
        with:
          registry: harbor.cangling.cn:22002
          username: ${{ secrets.CANGLING_USERNAME }}
          password: ${{ secrets.CANGLING_PASSWORD }}
      - name: build images
        id: build_image
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: |
            harbor.cangling.cn:22002/cangling/gwt-template:${{ steps.get_tag_version.outputs.TAG_VERSION }}
            harbor.cangling.cn:22002/cangling/gwt-template:latest
          platforms: linux/amd64,linux/arm64

